.form-row{
    display: flex;
    flex-direction: row;
  }
  
  .form-row > * {
    width: 100%;
  }
  .form-row .mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}
.form-row .col-md-6 {
  width: 48%;
  padding: 5px;
}

.signup-link-wrapper{
  width: 100%;
  display: block;
  margin-top: 20px;
  color: rebeccapurple;
  text-decoration: underline;
}
.signup-link-wrapper label:hover{
  text-decoration: unset;
  cursor: pointer;
}