<div class="main-page-wrapper">
  <div class="page-contents">
      <div fxLayout="column" fxLayoutAlign="center" style="margin:0 auto; margin-top: 5%;" id="expense-table-wrapper">
          <mat-toolbar>
              <span color="primary"> Expense List</span>
              <div class="toolbar-midcol-separator">
                    <div class="form-row">
                            <mat-form-field>
                                <input name="txtSearchExpense" matInput [(ngModel)]="tableSearchKey" >
                            </mat-form-field>
                    </div>
              </div>
              <mat-form-field style="margin-right: 20px;font-size: 13px;font-weight: bold;line-height: 1.125">
                    <mat-select [(value)]="selectedViewOption.label">
                      <mat-option *ngFor="let viewOption of viewOptions" [value]="viewOption.display">
                          {{viewOption.label}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" [disabled]="loaderIsActive" (click)="initExpenseAddmodal()">
                  <mat-icon>add</mat-icon>
                  Add Expense
              </button>
              <button *ngIf="!loaderIsActive" mat-icon-button color="primary" style="margin-left: 5px;" (click)="refreshExpenseList()">
                  <mat-icon>refresh</mat-icon>
              </button>
          </mat-toolbar>
          <div class="" *ngIf="loaderIsActive">
              <mat-progress-bar mode="indeterminate" color="{{progressColor}}"></mat-progress-bar>
          </div>
          <div class="expense-table-wrapper">
              <table class="table table-hover table-bordered" id="expense-table">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Expense Date</th>
                          <th>Amount</th>
                          <th>Recorded</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let expense of expenseList; let index = index">
                          <td>{{index+1}}</td>
                          <td>{{expense.title}}</td>
                          <td>{{expense.expenseDate | date:"EEE MMM dd, hh:mm a"}}</td>
                          <td class="text-right">{{expense.amount | currency:'NGN':'N':'0.2-2'}}</td>
                          <td>{{expense.created | date:"MMM dd, hh:mm a"}}</td>
                          <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="expense.description">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <mat-icon>edit</mat-icon>
                                  <span>Edit</span>
                                </button>
                                <button mat-menu-item>
                                  <mat-icon>delete</mat-icon>
                                  <span>Remove</span>
                                </button>
                              </mat-menu>
                          </td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="3">
                              Total
                          </td>
                          <td class="text-right">{{totalExpenses() | currency:'NGN':'N':'0.2-2'}}</td>
                      </tr>
                      <tr>
                          <td colspan="7">
                                  <mat-paginator [length]="expenseListBackup.length"
                                  [pageSize]="pageSize"
                                  [pageSizeOptions]="[5, 10, 25, 100]"
                                  (page)="onRequestedPageChanged($event)">
                                  </mat-paginator>
                          </td>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
  </div>
</div>